.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  container {
    width: 100%
  }
}

@media (max-width: 768px) {
  container {
    padding: 0 10px
  }
}

.container_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}