@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Bebas Neue Bold'), url('../Fonts/Bebas Neue Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #232323;
}

h1 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.main_workshop {
  margin-top: 35px;
}

.main_not-found {
  display: flex;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  container {
    width: 100%
  }
}

@media (max-width: 768px) {
  container {
    padding: 0 10px
  }
}

.container_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_padding {
  padding: 30px 15px;
}

.backCall-btn_header {
  padding: 2px 5px;
  font-size: 14px;
  color: #ADADAD;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backCall-btn {
  padding: 15px 20px;
  font-size: 17px;
  color: #fafafa;
  background-color: #323235;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backCall-btn_header:hover {
  color: #bdbdbd;
}

.backCall-btn:hover {
  background-color: #757575;
}